*{margin: 3; padding: 3;}

body{
    font-family: arial;
    font-size: 18px;
}

h1{
    font-family: arial;
    font-size: 18px;
    text-align: center;
    color: #049faa;

}

table, th, td {
    border: 1px solid;
    width: 80%;
    text-align: center;
    padding: 15px;

}
  
  th {
    height: 70px;
    background-color: #049faa;
  }

.menu{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
    background:#333;
    color:#fff;
    box-shadow:0 3px 10px 0 #CCC;
    box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}